GAMDO_API_BIND_HOST=0.0.0.0
GAMDO_COMFYUI_URL=http://127.0.0.1:8188
GAMDO_COMFYUI_WORKFLOW=/opt/gamdo/server/workflows/lama_remove_objects_api.json
GAMDO_COMFYUI_OUTPAINT_WORKFLOW=/opt/gamdo/server/workflows/flux_fill_outpaint_api.json
GAMDO_GENERATED_OUTPUT_DIR=/opt/gamdo/server/storage/results
GAMDO_COMFYUI_TIMEOUT_SECONDS=180
GAMDO_INSIGHTFACE_ENABLED=1
GAMDO_FACE_SIMILARITY_THRESHOLD=0.35
LD_LIBRARY_PATH=/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/nvtx/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cuda_runtime/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cudnn/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cublas/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cuda_nvrtc/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cusolver/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cuda_cupti/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cusparselt/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cufile/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/nccl/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cufft/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/curand/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/nvjitlink/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/cusparse/lib:/opt/gamdo/venv/lib/python3.10/site-packages/nvidia/nvshmem/lib
